main {
  display: grid;
  margin: 0 auto;
  max-width: 80%;
}
body {
  font-family: "Playfair Display";
  margin: 0;
}
p {
  font-size: 15px;
  font-family: "Raleway";
  line-height: 1.7;
  margin: 20px 40px;
}

h1 {
  color: #b74636;
  font-family: "Playfair Display";
  font-size: 50px;
}
h3 {
  color: #d982ab;
  font-family: "Playfair Display";
  font-size: 20px;
}

h2 {
  color: #a4a68d;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  .line {
    background-color: #a4a68d;
    flex: 1;
    height: 1px;
    margin: 0 15px;
    align-self: center;
  }
}

footer {
  background-color: #f2d8ce;
  p {
    font-size: 10px;
    color: #d982ab;
    margin: 0 100px;
  }
  .footer_div {
    text-align: center;
  }
}

.footer_kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  p {
    margin: 10px;
    text-align: left;
  }
  img {
    margin-left: 150px;
  }
}

.section_general {
  text-align: center;
  padding: 10px;
}
.img_learnings {
  display: flex;
  justify-content: center;

  img {
    margin: 20px;
    width: 100%;
    height: auto;
  }
}

.img_funfacts {
  display: flex;
  justify-content: center;

  img {
    margin: 20px;
    width: 100%;
    height: auto;
  }
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;
  border: #1f47bf 1px solid;
}

.start-date,
.end-date {
  flex: 1;
  text-align: center;
  color: #1f47bf;
}

.timeline-line {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 4px; /* Fixed height for better alignment */
}

.timeline-arrow {
  width: 100%;
  height: 2px;
  background-color: #1f47bf;
  position: relative;
  animation: moveArrow 15s linear infinite;
}

.timeline-arrow::before,
.timeline-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid transparent;
}

.timeline-arrow::before {
  left: 0;
  border-left: 10px solid #1f47bf;
}

.timeline-arrow::after {
  right: 0;
  border-right: 10px solid #1f47bf;
}

@keyframes moveArrow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 799px) {
  .footer_mobil {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media (min-width: 800px) {
  .footer_desk {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-content: center;
  }
  .footer_kontakt {
    place-items: start;
  }
}
